KERNEL_ARCH_CFLAGS=
KERNEL_ARCH_CPPFLAGS=
KERNEL_ARCH_LDFLAGS=
KERNEL_ARCH_LIBS=

# Don't put backslash after last entry, since the Makefile
# puts a backslash after the macro. When it gets expanded,
# it created an escaped '\', which breaks build
KERNEL_ARCH_OBJS=\
$(ARCHDIR)/boot.o \
$(ARCHDIR)/tty.o \
$(ARCHDIR)/gdt_updater.o \
$(ARCHDIR)/descriptor_table.o \
$(ARCHDIR)/idt.o \
$(ARCHDIR)/irq_handlers_as.o \
$(ARCHDIR)/irq_handlers_c.o \
$(ARCHDIR)/fault_handlers_as.o \
$(ARCHDIR)/fault_handlers_c.o \
$(ARCHDIR)/PIC.o \
$(ARCHDIR)/vmm.o \
$(ARCHDIR)/pmm.o \
$(ARCHDIR)/kheap.o \
$(ARCHDIR)/boot_heap.o \
$(ARCHDIR)/testing.o
